
h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    font-style: italic;
    text-align: center;
    color: blueviolet;
  }
  p {
    color: black;
  }
  body {
    background-color: navajowhite;
    font-family: sans-serif;
    text-align: center;
  }